@page
@using System.Diagnostics
@model MyApp.Namespace.ProcessModel
@{
    ViewData["Title"] = "OS Processes";
    Process[]? processes = ViewData["P"] as Process[];
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]!</h1>
        @foreach (Process item in processes!)
        {
            @if (item.ProcessName.Trim().Length > 0)
            {
                <p><a asp-page="./Details" asp-route-id="@item.Id">@item.ProcessName</a></p>
            }
        }
</div>